#header{
    background: #f2f2f2;
    color: #999;
    height: 32px;
    font-weight: 100;
    font-size: 12px;
}
#login-contain{
    line-height: 32px;
    float: left;
}
#login-contain a:hover{
    color: red;
}
#login-contain a{
    margin-left: 20px;
}
#header-menu{
    float: right;
    line-height: 32px;
}
#header-menu .menu{
    float: left;
    line-height: 32px;
    padding: 0 14px;
    position: relative;
}
#header-menu .iconfont{
    color: red;
    font-size: 12px;
}
#header-menu .menu-tri{
    position: relative;
}
#header-menu .menu-tri::after{
    content:'';
    width: 0;
    border: 4px solid transparent;
    border-top-color: #999999;
    position: absolute;
    right: 2px;
    top: 14px;
    transform-origin: 5px 2px;
    transition:transform 0.1s linear;
}
#header-menu .menu-tri:hover::after{
    transform: rotate(180deg);
}
#header-menu .menu-tri:hover{
    background: #ffffff;
}
#header-menu .menu-tri:hover>a{
    color: red;
    text-decoration: underline;
}
#header-menu .menu-ntri:hover a{
    color: deepskyblue;
}
#header-menu .menu-ntri:hover .iconfont{
    color: deepskyblue;
}
#header-menu .menu-tri .sub-menu{
    width: 100px;
    border: 1px solid #cccccc;
    border-top:none;
    position: absolute;
    left: 0;
    display: none;
}
#header-menu .menu-tri .sub-menu li{
    padding: 0 14px;
}
#header-menu .menu-tri:hover .sub-menu{
    display: block;
}
#header-menu .menu-tri .sub-menu a:hover{
    color: red;
    text-decoration: underline;
}

#search img{
    height: 130px;
    width: 240px;
    float: left;
}
#search-contain{
    float:left;
    margin-top: 49px;
    margin-left: 84px;
}
#search-contain .search-input{
    border: 2px solid #ff0036;
    height: 36px;
}
#search-contain .search-input input{
    width: 490px;
    height: 36px;
    outline: none;
    border: 0;
    float: left;
    text-indent: 10px;
}
#search-contain .search-input input::placeholder{
    font-size: 17px;
    color: #ccc;
    line-height: 36px;
}
#search-contain .search-input  button{
    width: 132px;
    height: 36px;
    border: 0;
    background: #ff0036;
    color:#fff;
    font-size: 16px;
    float: left;
}
#search-contain .search-list li{
    float: left;
    margin-top: 3px;
}
#search-contain .search-list li a{
    color: #cccccc;
}
#search-contain .search-list .search-item>a{
    color: red;
}
#search-contain .search-list .line{
    float: left;
    margin:3px 8px;
    color: #cccccc;
}
#search{
    height: 130px;
}
#second-nav{
    margin-left: 236px;
    height:30px;
}
#second-nav img{
    width: 100px;
    float: left;
    margin-right: 20px;
}
#second-nav ul{
    float: left;
    margin-top: 5px;
}
#second-nav li{
    float: left;
    padding-right: 20px;
    font-size: 16px;
}
#second-nav li:hover a{
    color: #f00;
}
#second-nav li a{
    color: #000;
}
#banner .bannner-img a{
    width: 1230px;
    display: block;
    margin: 0 auto;
}
#banner li a img{
    width: 100%;
}
#banner{
    border-top: 2px solid #ff0000;
    position: relative;
}
#banner .nav{
    position: absolute;
    background: rgba(0,0,0,.1);
    top: -32px;
    height: 557px;
}
#banner .nav>li{
    width: 200px;
    height: 32px;
    line-height: 32px;
}
#banner .nav>li>a{
    color: #ffffff;
    font-weight: 100;
}
#banner .wrapper .nav .iconfont{
    width: 16px;
    height: 31px;
    color: #ffffff;
    margin-left: 10px;
}
#banner .wrapper .nav a{
    margin-left: 10px;
}
#banner .wrapper .nav .banner-head{
    background: #ff0000;
    font-size: 18px;
    font-weight: 200;
    color: #ffffff;
}
#banner .wrapper .nav .banner-head span{
    margin-left: 10px;
}
#banner .wrapper .nav .banner-head i{
    font-size:18px ;
}
#banner .nav li:hover{
    background: #ffffff;
}
#banner .nav .girls:hover .banner-menu{
    display: block;
}
#banner .nav>li:hover>a{
    color: red;
}
#banner .nav>li:hover .iconfont{
    color: red;
}
.wrapper{
    position: relative;
}
#banner .nav .banner-menu{
    position: absolute;
    width: 852px;
    height: 524px;
    background: #ffffff;
    left: 200px;
    top: 33px;
    padding-top: 10px;
    padding-left: 13px;
    display: none;
}
#banner .nav .banner-menu .banner-menu-left .banner-menu-list{
    float: left;
    width: 493px;
    border-bottom: 1px dashed #cccccc;
}
#banner .nav .banner-menu .banner-menu-left .banner-menu-head{
    float: left;
}
#banner .nav .banner-menu .banner-menu-left .banner-menu-list>li{
    float: left;
}
#banner .banner-menu .banner-menu-left{
    width: 643px;
    height: 500px;
    float: left;
}
#banner .banner-menu .banner-menu-right{
    float: left;
    width: 209px;
}
#banner .nav .banner-menu .banner-menu-left .banner-menu-list a{
    color: #000000;
}
#banner .nav .banner-menu .banner-menu-left .banner-menu-list .banner-change>a{
    color: red;
}
#banner .banner-menu .banner-menu-right img{
    width: 73px;
    margin:3px 4px;
}
#banner .banner-menu .banner-menu-right .right-spe{
    width: 162px;
    margin: 3px 19px;
}
#brand{
    background: #e8e8e8;
    height: 500px;
    padding-top: 30px;
}
#brand .brand-type{
    float: left;
}
#brand .brand-type .bimg-uns{
    width: 234px;
}
#brand .brand-type .bimg-s{
    width: 485px;
    margin-left: 13px;
}
#brand .brand-type .bt1{
    width: 234px;
    height: 55px;
    background: #ffffff;
}
#brand .brand-type .bt2{
    width: 485px;
    height: 55px;
    background: #ffffff;
    margin-left: 13px;
    position: relative;
}
#brand .brand-title span{
    font-size: 16px;
    font-weight: 700;
    line-height: 55px;
    margin-left: 4px;
}
#brand .brand-type .brand-title a{
    background: url("../img/more.png") center no-repeat;
    background-size: 20px 20px;
    width: 56px;
    height: 54px;
    float: right;
}
#brand .brand-title .more{
    font-size: 16px;
    font-weight: 100;
    position: absolute;
    right: 50px;
}
